@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="TimeFutebol" asp-action="index">Visualizar Times </a>
    <a asp-controller="Jogadores" asp-action="index">Visualizar Times </a>

</div>
